// SPDX-License-Identifier: GPL-2.0+
// Copyright (C) 2022 Luxshare.
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/i2c/i2c.h>
#include <dt-bindings/leds/leds-pca955x.h>

/ {
	model = "Luxshare Palos BMC";
	compatible = "luxshare,palos-bmc", "aspeed,ast2500";

	aliases {
		serial4 = &uart5;
		i2c14 = &channel_11_0;
		i2c15 = &channel_11_1;
		i2c16 = &channel_11_2;
		i2c17 = &channel_11_3;
		i2c18 = &channel_12_0;
		i2c19 = &channel_12_1;
		i2c20 = &channel_12_2;
		i2c21 = &channel_12_3;
		i2c22 = &channel_13_0;
		i2c23 = &channel_13_1;
		i2c24 = &channel_13_2;
		i2c25 = &channel_13_3;
		i2c26 = &channel_13_4;
		i2c27 = &channel_13_5;
		i2c28 = &channel_13_6;
		i2c29 = &channel_13_7;
		i2c30 = &channel_13_8;
		i2c31 = &channel_13_9;
		i2c32 = &channel_13_10;
		i2c33 = &channel_13_11;
		i2c34 = &channel_13_12;
		i2c35 = &channel_13_13;
		i2c36 = &channel_13_14;
		i2c37 = &channel_13_15;
		i2c38 = &channel_13_16;
		i2c39 = &channel_13_17;
		i2c40 = &channel_13_18;
		i2c41 = &channel_13_19;
		i2c42 = &channel_13_20;
		i2c43 = &channel_13_21;
		i2c44 = &channel_13_22;
		i2c45 = &channel_13_23;
		i2c46 = &channel_13_24;
		i2c47 = &channel_13_25;
		i2c48 = &channel_13_26;
		i2c49 = &channel_13_27;
		i2c50 = &channel_13_28;
		i2c51 = &channel_13_29;
		i2c52 = &channel_13_30;
		i2c53 = &channel_13_31;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200 earlycon";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vga_memory: framebuffer@9f000000 {
			no-map;
			reg = <0x9f000000 0x01000000>; /* 16M */
		};

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_engine_memory: jpegbuffer {
			size = <0x02000000>;	/* 32M */
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
			<&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>,
			<&adc 8>, <&adc 9>, <&adc 10>, <&adc 11>,
			<&adc 12>, <&adc 13>, <&adc 14>, <&adc 15>;
	};

	leds {
		compatible = "gpio-leds";
		bmc_alive {
			label = "bmc_alive";
			gpios = <&gpio ASPEED_GPIO(B, 1) GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
			led-pattern = <500 500>;
		};

/* 		power {
			label = "power";
			gpios = <&gpio ASPEED_GPIO(R, 1) GPIO_ACTIVE_LOW>;
		}; */

		uid {
			label = "uid";
			gpios = <&gpio ASPEED_GPIO(A, 2) GPIO_ACTIVE_LOW>;
		};

		health_green {
			label = "health_green";
			gpios = <&gpio ASPEED_GPIO(H, 1) GPIO_ACTIVE_LOW>;
		};

		health_red {
			label = "health_red";
			gpios = <&gpio ASPEED_GPIO(H, 2) GPIO_ACTIVE_LOW>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
/* 		burn-in-signal {
			label = "burn-in";
			gpios = <&gpio ASPEED_GPIO(R, 5) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(R, 5)>;
		}; */

		uid_button {
			label = "uid_button";
			gpios = <&gpio ASPEED_GPIO(Z, 7) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(Q, 7)>;
		};
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		label = "bmc";
		m25p,fast-read;
		spi-max-frequency = <50000000>;
#include "openbmc-flash-layout-64.dtsi"
	};
	flash@1 {
		status = "okay";
		label = "alt-bmc";
		m25p,fast-read;
		spi-max-frequency = <50000000>;
#include "openbmc-flash-layout-64-alt.dtsi"
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bios";
		spi-max-frequency = <100000000>;
	};
};

&adc {
	status = "okay";

	pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
        &pinctrl_adc2_default &pinctrl_adc3_default
        &pinctrl_adc4_default &pinctrl_adc5_default
        &pinctrl_adc6_default &pinctrl_adc7_default
        &pinctrl_adc8_default &pinctrl_adc9_default
        &pinctrl_adc10_default &pinctrl_adc11_default
        &pinctrl_adc12_default &pinctrl_adc13_default
        &pinctrl_adc14_default &pinctrl_adc15_default>;
};

&wdt2 {
	status = "okay";
	aspeed,alt-boot;
};

&gpio {
	status = "okay";
	gpio-line-names =
	/*A0-A7*/	"BMC_FRU_WP","THERMAL_ALERT_N","LED_BMC_UID_LED_N","RST_CPU0_HP_SW_N",
			"","","","",
	/*B0-B7*/	"RST_BMC_HDDBP_RST_N","LED_BMC_HBLED_N_R0","BMC_CPU0_THERMTRIP_N","BMC_CPU1_THERMTRIP_N",
			"BMC_INTRUSION_OUTPUT","CPU0_LPC_PD_N","CPU0_LPC_PME_N","PS_HP_ALERT_BMC_N",
	/*C0-C7*/	"","","","","","","","",
	/*D0-D7*/	"","","","","","","","",
	/*E0-E7*/	"PE4_BMC_I2C_CPU1_RST_N","BMC_READY_OUT_N","MFG_MODE_IN","NMI_SW_N","RST_RTL8211_REST_TTL_N",
			"BMC_NMI_OUT_N","","",
	/*F0-F7*/	"BMC_ASSERT_CPU1_PROCHOT","VGA_PORT_SEL","BMC_SYS_MON_CPU0_PROCHOT","BMC_SYS_MON_CPU1_PROCHOT",
			"CPU0_PRSNT_N","CPU1_PRSNT_N","","",
	/*G0-G7*/	"PCA_REV_ID0","PCA_REV_ID1","CONN1_PRE_N",
			"BMC_LIQ_SENSOR1_OUTPUT","CPU_ALERT_N","BMC_CPLD_HITLESS_N","BMC_LIQ_SENSOR2_OUTPUT",
			"M2_1_PEDET",
	/*H0-H7*/	"M2_0_PEDET","LED_HLTH_GRN_BMC","LED_HLTH_RED_BMC",
			"RST_CPLD_BMC_SYS_N","BIOS_MEMTEMP_READY_OUT","BMC_ASSERT_CLR_CMOS",
			"PHY_INT_N","RSVD_BMC_CPU0_GPIO_H7",
	/*I0-I7*/	"BTN_UID_CPLD_OUT_N","CPU0_SLP_S3_N","CONN0_PRE_N",
			"BMC_DUMP_LOG_N","","","","",
	/*J0-J7*/	"SGPIO_BMC_R_CLK","SGPIO_BMC_R_DOUT","SGPIO_BMC_R_DIN",
			"VGA_HSYNC_BMC_R","SGPIO_BMC_R_LD","VGA_VSYNC_BMC_R","BMC_VGA_DDC_CLK_R","BMC_VGA_DDC_DAT_R",
	/*K0-K7*/	"","","","","","","","",
	/*L0-L7*/	"","","","","","","","",
	/*M0-M7*/	"BMC_ASSERT_CPU0_PROCHOT","BMC_LIQ_SENSOR_MODE_SEL","PE4_BMC_I2C_CPU0_RST_R_N",
			"BTN_PWRON_SSIFP2CPLD_R_N","PWR_BTN_BMC_OUT_N","BMC_ASSERT_LOCAL_LOCK","","",
	/*N0-N7*/	"","","","","","","","",
	/*O0-O7*/	"","","","","","","","",
	/*P0-P7*/	"","","","","","","","",
	/*Q0-Q7*/	"","","","","","","EN_I2C_DIMM_MUX","PME_SB_PE_WAKE_N",
	/*R0-R7*/	"","BMC_HDT_SEL","P3V_BAT_SOURCE","CPU0_UART0_BMC_EN",
			"RST_BMC_G11_SW_N","RVD_GPIO_HDDBP_BMC","","",
	/*S0-S7*/	"RVD_BMC_CPLD_GPIO1","CPU0_SLP_S5_N","PGD_SYS_PWROK",
			"PS_ALERT_BMC_N","REMOTE_DIAG_0","REMOTE_DIAG_1","BMC_HWSTRAP5_NIC_RMII_SEL","",
	/*T0-T7*/	"","","","","","","","",
	/*U0-U7*/	"","","","","","","","",
	/*V0-V7*/	"","","","","","","","",
	/*W0-W7*/	"","RST_PCIE_BMC_GPIO_N","","","","","","",
	/*X0-X7*/	"","","","","","","","",
	/*Y0-Y7*/	"CPU0_BUCS_LOCK","RST_BMC_I2C_SPD_MUX_N","RST_BTN_BMC_OUT_N","BTN_SYSRST_RC_N",
			"","","","",
	/*Z0-Z7*/	"BOARD_ID0","BOARD_ID1","BOARD_ID2",
			"BMC_CPLD_JTAG_OE_N","","","","",
	/*AA0-AA7*/	"VR_SMB_ALERT_N","CPU_MISMATCH_BIT_0","CPU_MISMATCH_BIT_1","CPU_MISMATCH_BIT_2",
			"CPU0_BMC_SMI_N","CPU0_BMC_IERR_N","CPU0_BMC_TIMESYNC","FM_BMC_READ_SPD_TEMP",
	/*AB0-AB7*/	"BMC_HDT_RESET_N","BMC_HDT_PWROK","BMC_ARM_WDOG","RVD_BMC_CPLD_GPIO2","","","","",
	/*AC0-AC7*/	"","","","","","","","RST_BMC_LPC_R_N";
	ready_out {
		gpio-hog;
		gpios = <ASPEED_GPIO(E, 1) GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "BMC_READY_OUT_N";
	};
};

&kcs1 {
	aspeed,lpc-io-reg = <0xCA0>;
	status = "okay";
};

&kcs2 {
	aspeed,lpc-io-reg = <0xCA8>;
	status = "okay";
};

&kcs3 {
	aspeed,lpc-io-reg = <0xCA2>;
	status = "okay";
};

&kcs4 {
	aspeed,lpc-io-reg = <0xCA4>;
	status = "okay";
};

&lpc_snoop {
	snoop-ports = <0x80>;
	status = "okay";
};

&lpc_ctrl {
    status = "okay";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
			&pinctrl_rxd1_default
			&pinctrl_nrts1_default
			&pinctrl_ndtr1_default
			&pinctrl_ndsr1_default
			&pinctrl_ncts1_default
			&pinctrl_ndcd1_default
			&pinctrl_nri1_default>;
};

&uart2 {
	status = "okay";
	/*pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd2_default
			&pinctrl_rxd2_default
			&pinctrl_nrts2_default
			&pinctrl_ndtr2_default
			&pinctrl_ndsr2_default
			&pinctrl_ncts2_default
			&pinctrl_ndcd2_default
			&pinctrl_nri2_default>;*/
};

&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&mac0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii1_default &pinctrl_mdio1_default>;
};

&mac1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default>;
		clocks = <&syscon ASPEED_CLK_GATE_MAC2CLK>,
		 <&syscon ASPEED_CLK_MAC2RCLK>;
	clock-names = "MACCLK", "RCLK";
	use-ncsi;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";

	eeprom: eeprom@53 {
		compatible = "atmel,24c512";
		pagesize = <128>;
		reg = <0x53>;
		wp-gpios = <&gpio ASPEED_GPIO(A, 0) GPIO_ACTIVE_LOW>;
		num-addresses = <16>;
		lable = "fru";
	};
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";

	adm1278@10 {
		compatible = "adi,adm1278";
		reg = <0x10>;
		Rsense = <500>;
	};

	tla2024@49 {
		compatible = "ti,tla2024";
		reg = <0x49>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel0@0 {
			reg = <0>;
			ti,gain = <2>;
			ti,datarate = <4>;
		};

		channel1@1 {
			reg = <1>;
			ti,gain = <2>;
			ti,datarate = <4>;
		};

		channel2@0 {
			reg = <2>;
			ti,gain = <2>;
			ti,datarate = <4>;
		};

		channel3@1 {
			reg = <3>;
			ti,gain = <2>;
			ti,datarate = <4>;
		};
	};

	ina220@40 {
		compatible = "ti,ina220";
		reg = <0x40>;
		shunt-resistor = <1000>;
	};

	ina220@44 {
		compatible = "ti,ina220";
		reg = <0x44>;
		shunt-resistor = <1000>;
	};

/* 	ina220@42 {
		compatible = "ti,ina220";
		reg = <0x4a>;
		shunt-resistor = <1000>;
	}; */

	ina220@45 {
		compatible = "ti,ina220";
		reg = <0x45>;
		shunt-resistor = <1000>;
	};

	ina220@47 {
		compatible = "ti,ina220";
		reg = <0x47>;
		shunt-resistor = <1000>;
	};

	ina220@4a {
		compatible = "ti,ina220";
		reg = <0x4a>;
		shunt-resistor = <1000>;
	};

	ina220@41 {
		compatible = "ti,ina220";
		reg = <0x41>;
		shunt-resistor = <1000>;
	};

	ina220@46 {
		compatible = "ti,ina220";
		reg = <0x46>;
		shunt-resistor = <1000>;
	};

	mp5023@42 {
		compatible = "mps,mp5023";
		reg = <0x42>;
	};

	tmp468@48 {
		compatible = "ti,tmp468";
		reg = <0x48>;
		label = "mb_zone";
	};
};

&i2c7 {
	status = "okay";
	psu0fru: psu0fru@50 {
		compatible = "atmel,24c256";
		reg = <0x53>;
	};

	psu0: power-supply@58 {
		compatible = "pmbus";
		reg = <0x58>;
	};

	psu1fru: psu1fru@51 {
		compatible = "atmel,24c256";
		reg = <0x51>;
	};

	psu1: power-supply@59 {
		compatible = "pmbus";
		reg = <0x59>;
	};
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
	ipmb0@10 {
		compatible = "ipmb-dev";
		reg = <(0x10 | I2C_OWN_SLAVE_ADDRESS)>;
		i2c-protocol;
	};
};

&i2c10 {
	status = "okay";
	i2c-switch@71 {
		compatible = "nxp,pca9546";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel_10_0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		channel_10_1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		channel_10_2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		channel_10_3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&i2c11 {
	status = "okay";
	i2c-switch@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel_11_0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		channel_11_1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		channel_11_2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		channel_11_3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&i2c12 {
	status = "okay";
	i2c-switch@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel_12_0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		channel_12_1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		channel_12_2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		channel_12_3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&i2c13 {
	status = "okay";
	i2c-switch@70 {
		compatible = "nxp,pca9548";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel_13_0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		channel_13_1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		channel_13_2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		channel_13_3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
		channel_13_4: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		channel_13_5: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		channel_13_6: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		channel_13_7: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};

	i2c-switch@71 {
		compatible = "nxp,pca9548";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel_13_8: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		channel_13_9: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		channel_13_10: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		channel_13_11: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
		channel_13_12: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		channel_13_13: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		channel_13_14: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		channel_13_15: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};

	i2c-switch@72 {
		compatible = "nxp,pca9548";
		reg = <0x72>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel_13_16: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		channel_13_17: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		channel_13_18: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		channel_13_19: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
		channel_13_20: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		channel_13_21: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		channel_13_22: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		channel_13_23: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};

	i2c-switch@73 {
		compatible = "nxp,pca9548";
		reg = <0x73>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel_13_24: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		channel_13_25: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		channel_13_26: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		channel_13_27: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
		channel_13_28: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		channel_13_29: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		channel_13_30: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		channel_13_31: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
			 &pinctrl_pwm2_default &pinctrl_pwm3_default
			 &pinctrl_pwm4_default &pinctrl_pwm5_default
			 &pinctrl_pwm6_default &pinctrl_pwm7_default>;

	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00 0x01>;
	};
	fan@1 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02 0x03>;
	};
	fan@2 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x04 0x05>;
	};
	fan@3 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x06 0x07>;
	};
	fan@4 {
		reg = <0x04>;
		aspeed,fan-tach-ch = /bits/ 8 <0x08 0x09>;
	};
	fan@5 {
		reg = <0x05>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0a 0x0b>;
	};
	fan@6 {
		reg = <0x06>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0c 0x0d>;
	};
	fan@7 {
		reg = <0x07>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0e 0x0f>;
	};
};

/* &gpio {
	pin_gpio_i3 {
		gpio-hog;
		gpios = <ASPEED_GPIO(I, 3) GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "NCSI_BMC_R_SEL";
	};

	pin_gpio_b6 {
		gpio-hog;
		gpios = <ASPEED_GPIO(B, 6) GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "EN_NCSI_SWITCH_N";
	};
}; */

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&vhub {
	status = "okay";
};
